/* 
    Created on : 9 juin 2020, 22:15:25
    Author     : Nem-Developing
*/

/* Déffinition de la police BebasNeue-Regular */
@font-face {
 font-family: "polices/BebasNeue-Regular";
 src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
}

/* Déffinition de la police BerkshireSwash-Regular */
@font-face {
 font-family: "polices/BerkshireSwash-Regular";
 src: url("../fonts/BerkshireSwash-Regular.ttf") format("truetype");
}

/* Déffinition de la police Raleway-Black */
@font-face {
 font-family: "polices/Raleway-Black";
 src: url("../fonts/Raleway-Black.ttf") format("truetype");
}

/*  Propriétés globales.    */
* {
    text-decoration: none;
}
html {
    background-color: black;
}
/*  Propriétés globales.    */


/*  Division de l'affichage des différents serveurs.'*/
.serveurs {
    text-align: center;
    display:block;
}

/*  Propriétés des différentes cards des serveurs.*/
.card {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    background-color: lawngreen;
}
.list-group-item {
    background-color: coral;
}
/*  Propriétés des différentes cards des serveurs.*/




/*  Propriétés de l'affichage du numéro de version et du nom de l'auteur.'*/
.version {
    color: rgba(255,255,255,.5);
}
/*  Propriétés du menu d'actions'*/
.actions {
    padding-top: 15px;
    padding-bottom: 18px;
    padding-left: 20px;
    background-color: #343a40!important;
    border-top: solid;
    border-color: green;
}

/*  Bouton "supprimer un serveur" tout à droite avec une marge de vingt pixels.*/
#btndelsrv {
    float: right;
    margin-right: 20px !important;
}


/* Bouton "Éteindre" tout à droites des cards. */
.btn-danger {
    float: right;
}


/*  Affichage text "En ligne"*/
#online {
    color: green !important;
    font-weight: bold;
    font-family: 'polices/BerkshireSwash-Regular';
}


/*  Affichage text "Hors ligne"*/
#horsligne {
    color: red;
    font-weight: bold;
    font-family: 'polices/BerkshireSwash-Regular';
}
