/* 
    Created on : 13 juin 2020, 22:30
    Author     : Nem-Developing
*/

/* Déffinition de la police BebasNeue-Regular */
@font-face {
 font-family: "polices/BebasNeue-Regular";
 src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
}

/* Déffinition de la police BerkshireSwash-Regular */
@font-face {
 font-family: "polices/BerkshireSwash-Regular";
 src: url("../fonts/BerkshireSwash-Regular.ttf") format("truetype");
}

/* Déffinition de la police Raleway-Black */
@font-face {
 font-family: "polices/Raleway-Black";
 src: url("../fonts/Raleway-Black.ttf") format("truetype");
}

/*  Propriétés globales.*/
* {
        text-decoration: none;
}

/*  classe pour la police d'un texte'*/
.breakshire{
        font-family: 'polices/BerkshireSwash-Regular';
}



/*  Ajout de marges à la page sauf au menu. */
#page {
    padding-left: 20%;
    padding-right: 20%;
}

/*  Paramètres du bouton de création. */
.boutonenvoie {
    margin-top: 20px;
    width: 100%
}


/*  Paramètres du titre. */
#titrepage{
        margin-top: 20px;
        
}
